
<md-toolbar
  color="primary"
>
  {{ title }}
</md-toolbar>

<form name="form" class="invoice-form" novalidate>
  <md-input
    type="text"
    id="place"
    name="place"
    placeholder="Specify place of invoice"
    [(ngModel)]="invoice.place"
    required
  ></md-input>

  <div class="items-list-wrp"
       *ngIf="selectedProduct === null"
  >
    <div class="title">
      <h3>
        Products list&nbsp;
      </h3>
      <button md-mini-fab
              color="primary"
              (click)="addProductClicked()"
      >
        <md-icon
          fontSet="fa"
          fontIcon="fa-plus-circle"
          class="md-12"
        ></md-icon>
      </button>
    </div>
    <invoice-items-list
      [items]="invoice.products"
    >
    </invoice-items-list>
  </div>
</form>

<invoice-item-details
  *ngIf="selectedProduct !== null"
  (remove)="onRemoveProduct($event)"
  (cancel)="onCancelDetails()"
  (save)="onSaveProduct($event)"
  [product]="selectedProduct"
></invoice-item-details>