
<md-toolbar
  color="primary"
>
  {{ title }}
</md-toolbar>

<form name="form" class="invoice-form" novalidate>
  <md-input
    type="text"
    id="place"
    name="place"
    placeholder="Specify place of invoice"
    [(ngModel)]="invoice.place"
    required
  ></md-input>

  <div class="items-list-wrp"
       *ngIf="selectedProduct === null"
  >

    <invoice-items-list
      (add)="addProductClicked()"
      [invoice]="invoice"
    >
    </invoice-items-list>
  </div>
</form>

<invoice-item-details
  *ngIf="selectedProduct !== null"
  (remove)="onRemoveProduct($event)"
  (cancel)="onCancelDetails()"
  (save)="onSaveProduct($event)"
  [product]="selectedProduct"
></invoice-item-details>