$img-side: 120px;

.dash-profile {

  .avatar-wrp {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;

    width: $img-side;
    height: $img-side;
    border-radius: $img-side / 2;

    overflow: hidden;

    align-items: center;
    justify-content: center;

    img {
      width: $img-side;
      height: auto;
    }
  }

  .name {
    margin-top: 40px;
    margin-bottom: 0;
    width: 100%;

    text-align: center;
  }

  .email {
    text-align: center;
    font-size: 1.5rem;
  }
}