<form
  #form="ngForm"
  name="form"
  class="invoice-product-form"
  novalidate
  (submit)="submitClicked($event)"
>


<md-card>

  <md-card-header>
    <md-card-title>
      <h3>{{title}}</h3>
    </md-card-title>
    <button
      md-mini-fab
      color="warn"
      type="button"
      *ngIf="product.id"
      (click)="deleteClicked()"
    >
      <md-icon class="md-12">delete</md-icon>
    </button>
  </md-card-header>

  <md-card-content>


      <div class="product-name">
        <md-input
          name="name"
          [(ngModel)]="product.name"
          required
          color="warn"
          placeholder="Product name"
        >
          <md-hint
            class="error-hint"
            *ngIf="showHint(form.controls.name)"
            align="end"
          >
            This field is required
          </md-hint>
        </md-input>
      </div>

      <div class="product-price">
        <md-input
          name="price"
          type="number"
          [ngModel]="product.price"
          (ngModelChange)="onPriceChange($event)"
          required
          placeholder="Product price"
        >
          <span md-suffix>&nbsp;грн</span>

          <md-hint
            class="error-hint"
            *ngIf="showHint(form.controls.price)"
            align="end"
          >
            This field is required
          </md-hint>
        </md-input>
      </div>

      <div class="product-cost">
        <md-input
          name="cost"
          type="number"
          [ngModel]="product.cost"
          (ngModelChange)="onCostChange($event)"
          required
          placeholder="Product cost"
        >
          <span md-suffix>&nbsp;грн</span>

          <md-hint
            class="error-hint"
            *ngIf="showHint(form.controls.cost)"
            align="end"
          >
            This field is required
          </md-hint>
        </md-input>
      </div>

      <div class="product-quantity">
        <md-input
          name="quantity"
          type="number"
          [ngModel]="product.quantity"
          (ngModelChange)="onQChange($event)"
          required
          placeholder="Quantity"
        >

          <md-hint
            class="error-hint"
            *ngIf="showHint(form.controls.quantity)"
            align="end"
          >
            This field is required
          </md-hint>
        </md-input>
        <select
          md-suffix
          name="measure"
          [(ngModel)]="product.measure"
        >
          <option value="pcs">pcs</option>
          <option value="pcs">kg</option>
          <option value="pcs">l.</option>
        </select>
      </div>


  </md-card-content>

  <md-card-footer>

    <button
      md-button
      type="button"
      (click)="cancelClicked()"
      color="default"
    >
      Cancel
    </button>

    <button
      md-raised-button
      type="submit"
      color="primary"
    >Save</button>

  </md-card-footer>

</md-card>
</form>
